
@{
    Layout = null;
    var issuedbooks = ViewData["issuedbooks"] as List<Libms.Models.Mybooks>;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DPBS Library</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/libs/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/libs/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/libs/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/libs/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .form-control {
            padding: .2rem .5rem;
        }
    </style>


    <!-- Template Stylesheet -->
    <link href="~/libs/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">DPBS Library</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/libs/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Admin</h6>
                       @*  <span>Admin</span> *@
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="~/Home/index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i> Masters</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="~/Home/CollegeMaster" class="dropdown-item "><i class="fa fa-laptop me-2"></i>College Master</a>
                            <a href="~/Home/SessionMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Session Master</a>
                            <a href="~/Home/ClassMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Class Master</a>
                            <a href="~/Home/SectionMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Section Master</a>
                            <a href="~/Home/BookCategoryMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Book Category Master</a>
                            <a href="~/Home/BookMaster" class="dropdown-item "><i class="fa fa-laptop me-2"></i>Book Master</a>
                            <a href="~/Home/MemberTypeMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Member Type Master</a>
                            <a href="~/Home/MemberMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Member Master</a>
                            <a href="~/Home/DepartmentMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Department Master</a>
                            <a href="~/Home/RuleMaster" class="dropdown-item"><i class="fa fa-laptop me-2"></i>Rule Master</a>
                            <a href="~/Home/Bookinfo" class="dropdown-item "><i class="fa fa-laptop me-2"></i>Book Info Master</a>
                        </div>
                    </div>



                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>Transactions</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="~/Home/IssueBook" class="dropdown-item"><i class="fa fa-th me-2"></i>Issue Book</a>
                            <a href="~/Home/ReturnBook" class="dropdown-item"><i class="fa fa-th me-2"></i>Return Book</a>
                            <a href="~/Home/Re_IssueBook" class="dropdown-item"><i class="fa fa-th me-2"></i>Re-Issue Book</a>
                            <a href="~/Home/IssuedBooks" class="dropdown-item active"><i class="fa fa-th me-2"></i>Issued Books</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Reports</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="~/Home/IssuedBooksReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Issued Book Report</a>
                            <a href="~/Home/CollegeReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>College Report</a>
                            <a href="~/Home/SessionReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Session Report</a>
                            <a href="~/Home/ClassReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Class Report</a>

                            <a href="~/Home/SectionReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Section Report</a>
                            <a href="~/Home/BookCategoryReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Book Category Report</a>
                            <a href="~/Home/BookReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Book Report</a>
                            <a href="~/Home/MemberTypeReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Member Type Report</a>
                            <a href="~/Home/MemberReport" class="dropdown-item"><i class="far fa-file-alt me-2"></i>Member  Report</a>

                        </div>
                    </div>
                    <!-- <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                     <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                     <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                      -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Admin</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="~/Administration/Changepassword" class="dropdown-item"><i class="fa fa-keyboard me-2"></i>Change Password</a>

                        </div>
                    </div>
                   
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                       @*  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a> *@
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/libs/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/libs/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/libs/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                       @*  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a> *@
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="~/libs/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="~/Administration/Logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Issued Books</h6>
                        <a href="~/Home/IssuedBook_Report" target="_blank">Export Pdf</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Accession No</th>
                                    <th scope="col"> Book Name</th>
                                    <th scope="col">Author Name</th>
                                    <th scope="col">Edition No</th>
                                    <th scope="col">Book Price</th>
                                    <th scope="col">Language</th>
                                    <th scope="col">Issue Date</th>
                                    <th scope="col">Return Date</th>
                                    <th scope="col">Member Name</th>
                                    @* <th scope="col">edit</th> *@
                                    @*
                                    <th scope="col">delete</th>*@
                                   @*  <th scope="col">QR Code</th> *@
                                </tr>
                            </thead>
                     
                            <tbody>
                  @if(issuedbooks!=null)
                                {
                                    
                                 
                                foreach(var item in issuedbooks)
                            {

                                    <tr>
                                        <td><input class="form-check-input" type="checkbox"></td>
                                        <td>@item.Bacessno</td>
                                        <td>@item.Bname</td>
                                        <td>@item.Bauthor</td>
                                        <td>@item.Bedno</td>
                                        <td>@item.Bprice</td>
                                        <td>@item.Blang</td>
                                        <td>@item.isdate</td>
                                        <td>@item.rtdate</td>
                                        <td>@item.mname</td>
                                       @*  <td>item.Bpdate</td> 
                                        <td><a class="btn btn-primary" href="~/Home/EditBook?editid=@item.Id">edit</a></td>
                                    <td><a class="btn btn-danger" href="~/Delete/DeleteBook?delid=@item.Id">Delete</a></td>*@
                                        @* <td><a class="btn btn-secondary" target="_blank" href="~/Home/GenerateQr?qrid=@item.Id">QR Code</a></td> *@

                                    </tr>
                                
                            }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
           
            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">DPBS PG College Anoopshahar</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed & Developed By <a href="https://Braino.co.in">Braino Services</a>

                            @*  Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a> *@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/lib/chart/chart.min.js"></script>
    <script src="~/libs/lib/easing/easing.min.js"></script>
    <script src="~/libs/lib/waypoints/waypoints.min.js"></script>
    <script src="~/libs/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/libs/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/libs/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/libs/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/libs/js/main.js"></script>
</body>

</html>
